WindowsGame2/WindowsGame2/WindowsGame2/obj/
WindowsGame2/WindowsGame2/WindowsGame2/bin/
WindowsGame2/WindowsGame2/WindowsGame2Content/obj/
WindowsGame2/WindowsGame2/WindowsGame2/WindowsGame2/bin/
WindowsGame2/WindowsGame2/WindowsGame2/WindowsGame2/obj/
WindowsGame2/WindowsGame2/WindowsGame2/WindowsGame2Content/obj/